.poster-div {
  display: flex;
  justify-content: space-around;
  padding: 1vw;
  width: 20vw;
  height: auto;
}
.poster {
  width: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .poster-div {
    width: 45vw;
  }
}
