.details-page {
  min-height: 100vh;
  width: 100vw;
  background-color: #131313;
  color: white;
}
.movie-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-around;
  flex-wrap: wrap;
  overflow-x: auto;
  min-height: 25vh;
  max-height: 40vh;
  width: 100%;
  padding: 5vw;
  text-align: start;
}

.similar-movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5vw;
  padding-top: 0px;
  list-style-type: none;
}

.detail-heading {
  font-size: 24px;
  color: grey;
  font-weight: 600;
}
.detail-list {
  list-style-type: none;
  padding: 0px;
  text-align: start;
}
.detail-list-item {
  font-size: 18px;
  margin: 0px;
}
.detail-list-item p {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (min-width: 1024px) and (max-width: 2559px) {
  .detail-heading {
    font-size: 18px;
  }
  .detail-list-item {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .detail-heading {
    font-size: 16px;
  }
  .detail-list-item {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .detail-heading {
    font-size: 12px;
  }
  .detail-list-item {
    font-size: 12px;
  }
}
