.social-handles-div {
  width: 100%;
}
.social-handles-icon {
  width: 20px;
  height: 20px;
}
.social-button {
  background-color: transparent;
  color: white;
  border: 0px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 2vw;
  height: 15vh;
}
